body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2vw;
    margin: 0px
}


#logo {
    margin: 0px;
    padding: 10px;
}
ul {
    margin: 0px;
}
body > header {
    background-color: rgb(57, 96, 74);
    color: rgb(255, 255, 255);
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: space-around;
}

#nav-ul {
    display: flex;
}
#nav-ul > li {
    padding: 8px;
    margin: 16px;
}
body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}
.navbutton {
    color: white;
    text-decoration: none;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5%;
}
body > main article {
    width: 80%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around;
}
#main-content > div{
    width: 80%;
}

h1 {
    font-size: 50px;
  }
  
  h2 {
    font-size: 35px;
  }
  
  h4 {
    font-size: 30px;
  }

form {
    text-align: center;
}
h2 {
    text-align: center;
}
main > footer {
    display: flex;
    background-color: rgb(57, 96, 74)
}
img {
    border-radius: 10%;
    width: 300px;  /* Set a specific width */
    height: 200px;
}
#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-left: 12px;
}

#footer-ul > div > li {
    color: white;
    text-decoration: none;
}